*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

body{
    margin:20px;
    border:2px solid black;
    min-height: 100vh;
    border-radius: 10px;
}
h1{
    text-align: center;
    margin:20px;
}

h2{
    text-align: center;
    margin:10px;
}

#task-manager-section{
    display: flex;
    justify-content: center;
    gap:10px;
    max-height: 100vh;
    margin:50px;
    border:2px solid black;
    border-radius: 10px;
    padding:15px 8%;
}

.task-manager-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enter-task-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    border:2px solid black;
    border-radius: 10px;
    padding:15px 8%;
    text-align: center;
}

.enter-task-container button{
    width:100px;
    height:30px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.enter-task-container input{
    height:30px;
    border-radius: 10px;
    padding:5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.enter-task-container label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.filter-methods-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    border:2px solid black;
    border-radius: 10px;
    padding:15px 8%;
    width: 1200px;
}

.filter-methods-container button{
    width:100px;
    height:30px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.filter-methods-container input{
    height:30px;
    border-radius: 10px;
    padding:5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.filter-methods-container label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.task-container-style{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:auto;
    margin:10px;
    border: 2px solid black;
    border-radius: 10px;
    padding:15px 8%;
}

.styleDeleteButton{
    width:100px;
    height:30px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 15px;
}

.styleTask{
    margin:5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-position: inside;
    list-style: lower-roman;
}

.task-container-button button{
    display: none;
    margin:5px;
    width:150px;
    height:30px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.task-container-button .style-task-container-button{
    display: inline-block;
}

#task-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

#task-list .styleCheckBox{
    margin-left: 15px;
    margin-top: 8px;
    width:60px;
    height: 20px;
    border-radius: 10px;
}

.style-list-when-task-in-completed{
    background: yellow;
}